.errors #error span {
  color: red;
}

.index-item-main {
  /* padding: 21px; */
  text-align: center;
  background-color: #4CAF50;
}

#visualization-area {
  /* margin-top: 4%; */
  text-align: center;
}

.index-item-main-search{
  padding: 21px;
  text-align: center;
  background-color: #4CAF50;
  display: inline-block;
  margin-left: 3px;
  margin-top: 2px;
}

.index-item-main {
  width: 45px;
  display: inline-block;
  margin-left: 2px;
  margin-top: 2px;
}

body {
  font-family: Verdana;
  margin: 0;
}

.header {
  padding: 11px;
  text-align: center;
  background: #282828;
  color: white;
  font-size: 18px;
}

.footer {
   /* position: fixed; */
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #282828;
   color: white;
   text-align: center;
   padding: 1px;
}

label.vis-label {
  font-size: 17px;
  font-weight: 600;
  margin-right: 4px;
}

.main-container input[type="text"] {
  height: 34px;
  width: 45px;
  text-align: center;
  color: #595959;
  background: white;
  border-radius: 18px;
}

.main-container select {
  padding: 9px;
  font-size: 15px;
  line-height: 1.5;
  color: #595959;
  border-radius: 18px;
}

.main-container button#start_anim, #do-random {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 9px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  border-radius: 6px;
}

#anim-state {
  font-size: 15px;
  background: #282828;
  color: white;
  padding: 10px;
  width: 100%;
  border-radius: 6px;
}

.option {
  margin-left: 2%;
  display: inline-block;
}

.options-panel {
  /* display: flex; */
}

.status {
  text-align: center;
  margin-top: 4%;
}

.errors {
  text-align: center;
  margin-bottom: 8px;
}

.index-item {
  font-weight: bold;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  cursor: pointer;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .option {
    margin-left: 2%;
    display: block;
    margin-top: 4%;
  }

  .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #282828;
    color: white;
    text-align: center;
    padding: 1px;
  }

  .status {
    text-align: center;
    margin-top: 11%;
  }

  .main-container {
    padding: 17px;
  }
  .options-panel {
    text-align: center;
  }

  #anim-state {
    font-size: 10px;
  }
}
